build/
build-*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Testing/
*.a
*.so
*.dylib
*.dll
*.exe
*.la
*.lo
*.loT

bindings/php/.deps/
bindings/php/.libs/
bindings/php/*.dep
bindings/php/*~
bindings/php/Makefile
bindings/php/Makefile.fragments
bindings/php/Makefile.global
bindings/php/Makefile.objects
bindings/php/acinclude.m4
bindings/php/aclocal.m4
bindings/php/autom4te.cache/
bindings/php/build/
bindings/php/config.cache
bindings/php/config.guess
bindings/php/config.h
bindings/php/config.h.in
bindings/php/config.log
bindings/php/config.nice
bindings/php/config.status
bindings/php/config.sub
bindings/php/configure
bindings/php/configure.ac
bindings/php/include/
bindings/php/libtool
bindings/php/modules/
bindings/php/run-tests.php
